/* **************************************** FOO CONTAINER ********************************************** */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&family=Ysabeau+SC:wght@600&display=swap");
.fo--container {
  max-width: 1920px;
  margin: auto;
  padding: 0.5rem;
  text-align: center;
  font-size: 1rem;
  background: rgb(60, 64, 62);
}

/* *************************************************************   HEADER    ************************************************* */
.he--ad {
  position: sticky;
  max-width: 1920px;
  margin: auto;
  color: whitesmoke;
  background: #111;
  font-size: 1.5vw;
  font-family: Courier;
  letter-spacing: 5px;
  padding: 0.5rem;
  z-index: 5;
}

.he--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: auto;
  max-width: 1920px;
  height: 20vw;
  background: url(../../../resources/svg/pattern-brick-wall.svg);
  background-color: #eee;
}

.he--art__big3 {
  position: relative;
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
  -ms-flex-item-align: end;
  align-self: flex-end;
  height: auto;
}

.he--img__big3 {
  margin-top: 0.5rem;
  width: 100%;
  height: auto;
}

.he--art__logo {
  position: relative;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  -ms-flex-item-align: end;
  align-self: flex-end;
  height: auto;
}

.he--img__logo {
  margin: 0 0 0 1rem;
  width: 81%;
  height: auto;
}

.h3--article__playoffs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: flex-start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 20%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-right: 2rem;
  border: 2px solid blue;
}

.he--img__playoffs {
  position: relative;
  width: 100%;
  height: 100%;
}

.he--sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-preferred-size: 35%;
  flex-basis: 35%;
  height: auto;
}

.he--sec__nav span {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-right: 2vw;
  font-size: 1.5vw;
  font-weight: 900;
}

.he--sec__title {
  width: 100%;
  -ms-flex-item-align: start;
  align-self: flex-start;
  color: rgb(143, 40, 188);
  letter-spacing: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  /*  border: 1px solid blue;  */
  font-family: "Roboto Mono", monospace;
}

.he--sec__title > h1 {
  font-size: 2.3vw;
  width: 100%;
  margin: 0 0 0.5rem 0;
  -ms-flex-item-align: end;
  align-self: flex-end;
  /*  border: 1px solid red;  */
}

.he--modal, .he--modal__paypal, .he--modal__aboutme {
  position: absolute;
  top: 8vw;
  right: -35%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: wheat;
  background: #111;
  width: 35vw;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1em;
  border: 1px solid rgb(50, 203, 126);
}

.he--modal__aboutme {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.he--modal__paypal {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
}

.he--modal__title-yo {
  -ms-flex-preferred-size: 25vw;
  flex-basis: 25vw;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: center;
  text-decoration: underline;
  font-size: 2em;
  color: rgb(50, 203, 126);
}

.he--modal__title-paypal {
  margin: 0.6rem 0 0 0;
  padding: 0.5rem;
  text-align: center;
  font-size: 1.5em;
  letter-spacing: 4px;
  background: white;
  color: rgb(50, 203, 126);
  border: 1px solid rgb(50, 203, 126);
}

.he--modal__yo {
  margin: 0.5rem 0 0 1rem;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid white;
}

.h3--modal__yo-msg {
  margin-top: -1rem;
}

.he--modal__paypal-msg {
  -ms-flex-preferred-size: 5vh;
  flex-basis: 5vh;
}

.he--modal__btn {
  margin: 0 auto 2rem auto;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.he--modal__color {
  color: rgb(50, 203, 126);
}

.he--subs {
  color: springgreen;
  font-size: 1.2vw;
  margin-right: 2%;
}

.he--subs:hover {
  color: teal;
}

/* ************************************  HEADER BOTONERA  ************************************************** */
.he--mainmenu {
  width: 100%;
  height: 60px;
}

.he--nav__botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  font-size: 1.4vw;
  background: -webkit-gradient(linear, left top, left bottom, from(lightyellow), to(lightblue));
  background: linear-gradient(lightyellow, lightblue);
}

.he--nav__btn {
  width: 20%;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  font-family: Courier;
  font-weight: 900;
  letter-spacing: 3px;
  color: whitesmoke;
  border: 1px solid whitesmoke;
  background-color: teal;
}

.he--nav__btn:hover {
  font-size: 1.2em;
  color: black;
  border: 2px solid green;
  background: -webkit-gradient(linear, left top, left bottom, from(lightgreen), to(lightcyan));
  background: linear-gradient(lightgreen, lightcyan);
}

.store-soon {
  width: 20%;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  font-family: Courier;
  font-weight: 900;
  letter-spacing: 3px;
  background-color: #444;
  color: #111;
}

.store-soon:hover {
  background-color: #222;
}

/* ************************************************          MODAL       ************************************************************ */
.modal {
  visibility: hidden;
  position: absolute;
  top: 49vw;
  left: 0;
  width: 100vw;
  height: 98vh;
  background-color: black;
  opacity: 0.9;
}

.modal--box {
  position: absolute;
  top: 18vh;
  left: 25vw;
  width: 45vw;
  height: 70vh;
  border: 1px solid black;
}

.modal--box__img {
  position: relative;
  width: 100%;
  height: 100%;
}

.modal--quit {
  position: absolute;
  top: 50vh;
  left: 0;
  width: 50%;
  height: 10%;
}

.modal--quit__cross {
  position: absolute;
  top: 50vh;
  left: 93vw;
  width: 6%;
}

/* ********************************************  HEADERS REDIRECCIONAMIENTO  ******************************************************* */
.headers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.headers--h2 {
  margin-left: 2rem;
}

.headers--link {
  position: absolute;
  margin-top: 1rem;
  margin-left: 3rem;
  font-size: 2vw;
  z-index: 2;
}

.headers--link__a {
  color: orange;
}

.headers--link__a:hover {
  color: springgreen;
}

.headers--msg {
  position: absolute;
  margin-left: 1rem;
  font-size: 3.5vw;
  color: #008348;
  z-index: 2;
}

.error {
  color: red;
}

/* *****************************************************************  ICONS  ****************************************************************** */
a .nav--icon {
  width: 55%;
  height: 50px;
}

.card {
  width: 10%;
}

/* ***************************************  HOME MAIN ************************************************ */
.div--sticky {
  position: sticky;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  border: 1px solid black;
  background: #222;
  z-index: 2;
}

.div--sticky__msg {
  margin: 1rem 0.5rem;
  letter-spacing: 2px;
  color: wheat;
}

#main {
  background-color: #1B0119;
}

/* boton del login */
.ma--btn {
  position: absolute;
  top: 35vw;
  left: 45vw;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #222222;
  color: white;
  text-decoration: none;
  font-size: 2.5vw;
  letter-spacing: 3px;
  padding: 1% 2%;
  border-radius: 5%;
  z-index: 1;
}

.ma--btn:hover {
  background-color: #a945c7;
  -webkit-box-shadow: 0 0 10px #a945c7, 0 0 #a945c7, 0 0 80px #a945c7;
  box-shadow: 0 0 10px #a945c7, 0 0 #a945c7, 0 0 80px #a945c7;
}

/*  **************************************   MAIN MENU  ******************************************* */
.ma--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: auto;
  max-width: 1920px;
  height: auto;
}

.ma--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Courier;
  font-size: 3vw;
  font-weight: bolder;
  background-color: #999;
  color: rgb(50, 203, 126);
}

.ma--title h1 {
  margin: 0;
  padding: 0;
  letter-spacing: 5px;
  font-family: "Roboto", sans-serif;
}

.ma--div__pstats {
  position: relative;
  width: 100%;
  height: 285px;
  border: 1px solid grey;
}

.img--pstats {
  /* position: absolute; */
  width: 100%;
  height: 100%;
}

#currentGame {
  display: none;
}

.ma--grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33%)[3];
  grid-template-columns: repeat(3, 33%);
  -ms-grid-rows: 50% 50%;
  grid-template-rows: 50% 50%;
  margin-top: 3rem;
}

.ma--grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.ma--grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.ma--grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.ma--grid > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.ma--grid > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.ma--grid > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.ma--grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.ma--grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.ma--grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.ma--grid > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.ma--grid > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.ma--grid > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.ma--schedule__col20 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ma--griditem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 70%;
  /*  border: 1px solid yellow;
    background-color: purple;*/
}

.ma--gridplayoffs {
  /*
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width:150%;
    height: 150%;
    margin: 1rem 0 0 1rem;
  */
  height: 800;
  border: 1px solid red;
}

.ma--p__games {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 0.5rem 0;
  padding-left: 2vw;
  font-size: 1.5em;
  color: springgreen;
}

.schedule--logo {
  width: 25%;
}

.ma--section__news {
  height: 35vw;
  margin-top: 1rem;
  margin-left: 1rem;
  background: #222;
  color: rgb(50, 203, 126);
  border: 2px solid orange;
}

.ma--section__news > h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1rem auto 0 auto;
  font-size: 4vw;
  letter-spacing: 3px;
  font-family: "Roboto", sans-serif;
  color: rgb(50, 203, 126);
}

.ma--section__news > p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin: 1rem auto 0 auto;
  font-style: Verdana;
  font-size: 2.2vw;
  padding-left: 0.5rem;
}

.ma--figure {
  padding: 0.5rem;
  font-size: 1vw;
  font-weight: 400;
  text-align: center;
  background-color: #555;
  color: black;
}

.ma--contador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  background-color: rgb(50, 203, 126);
}

.ma--contador > span {
  text-align: center;
  color: #111;
  font-weight: 900;
  font-size: 2.3vw;
  letter-spacing: 3px;
}

.ma--record {
  padding-top: 50px;
  color: white;
  font-weight: 700;
}

.fake--background {
  background: rgb(50, 203, 126);
}

.played {
  background-color: rgba(0, 0, 0, 0.7);
  color: rgba(0, 0, 0, 0.459);
}

.notplayed {
  color: springgreen;
}

.trecord,
.standings {
  border: 2px solid orange;
  width: 96.5%;
  margin: 1rem 0 0 1rem;
}

.ma--pag {
  width: 1920px;
  margin: auto;
  padding: 0.5rem 0;
  text-align: center;
  background-color: #222;
}

.ma--pag__a {
  font-size: 1.3em;
  font-weight: 700;
  text-decoration: none;
  color: rgb(50, 203, 126);
}

.ma--pag a:hover {
  text-decoration: underline;
  color: royalblue;
}

/* usamos un derivado del container original pero a este no le definimos ni flexbox ni grid */
.ma--container__std {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1920px;
  /* border:1px solid red;*/
}

.ma--playYoutube {
  width: 75%;
  /* border:1px solid yellow;*/
}

.ma--selectYoutube {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 23%;
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  /* border:1px solid green;*/
}

.ma--choosegame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.ma--game {
  width: 100%;
  margin: 0.5rem 0;
  padding: 1.5rem 0.5rem;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(limegreen));
  background: linear-gradient(black, limegreen);
  border: 2px solid black;
}

.ma--game__span {
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-right: 1rem;
  font-size: 1.5em;
  font-weight: 900;
}

.ma--game:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(limegreen), to(black));
  background: linear-gradient(limegreen, black);
  margin: 0.5rem 0;
  padding: 1.5rem 0.5rem;
  border: 2px solid white;
  color: white;
}

.ma--subtitle {
  margin: 0 0 2rem 0;
  font-size: 3.5em;
  padding-left: 1rem;
  letter-spacing: 5px;
  color: whitesmoke;
}

.ma--media {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 2% 48%;
  grid-template-columns: 50% 48%;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 2%;
  margin: 3rem 0 1rem 0;
}

.ma--media > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.ma--media > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.ma--iframe {
  width: 99%;
  height: 85vh;
  border: 3px solid grey;
}

.ma--iframe__display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: auto;
  margin-left: 0.5rem;
  background: #111;
  color: white;
  /*border: 3px solid rgb(50, 203, 126);*/
}

.ma--iframe__logo {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  width: 100%;
  height: 100%;
}

.ma--spoiler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  height: 385px;
  margin-right: 1%;
  color: white;
  background-color: #222;
}

.ma--spoiler__title {
  margin: 0.5rem 0 2rem 0;
  height: auto;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  color: rgb(50, 203, 126);
}

.ma--spoiler__results {
  padding-left: 0.5rem;
  width: 35%;
}

.ma--spoiler__botones {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  margin-left: 0.5rem;
}

.ma--spoiler__youtube {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.ma--spoiler__p {
  padding-left: 1rem;
  font-size: 1.5vw;
  color: springgreen;
}

.ma--spoiler__icon {
  width: 7%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-left: 0.3rem;
}

.ma--spoiler__icon img {
  width: 100%;
}

.ma--spoiler__title p {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  font-size: 4em;
  font-style: Courier;
  letter-spacing: 5px;
  color: rgb(50, 203, 126);
}

.ma--spoiler__results p {
  margin: 1.7rem 1rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 1.5em;
  font-weight: 900;
  color: rgb(50, 203, 126);
}

.ma--spoiler__btn {
  margin: 0.7rem 0 0 0;
  padding: 0.3rem 0.3rem 0.3rem 0.3rem;
  border-radius: 10%;
  border-style: none;
  letter-spacing: 3px;
  font-weight: 300;
  color: whitesmoke;
  background-color: rgb(50, 203, 126);
}

.ma--spoiler__btn:hover {
  color: #6441a5;
  background-color: whitesmoke;
}

/*
$breakpoints: (
  "xs": 320px,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1360px,
);
*/
@media (max-width: 30em) {
  .s-1 {
    width: 8.3333333333%;
  }
  .s-2 {
    width: 16.6666666667%;
  }
  .s-3 {
    width: 25%;
  }
  .s-4 {
    width: 33.3333333333%;
  }
  .s-5 {
    width: 41.6666666667%;
  }
  .s-6 {
    width: 50%;
  }
  .s-7 {
    width: 58.3333333333%;
  }
  .s-8 {
    width: 66.6666666667%;
  }
  .s-9 {
    width: 75%;
  }
  .s-10 {
    width: 83.3333333333%;
  }
  .s-11 {
    width: 91.6666666667%;
  }
  .s-12 {
    width: 100%;
  }
}
@media (max-width: 48em) {
  .m-1 {
    width: 8.3333333333%;
  }
  .m-2 {
    width: 16.6666666667%;
  }
  .m-3 {
    width: 25%;
  }
  .m-4 {
    width: 33.3333333333%;
  }
  .m-5 {
    width: 41.6666666667%;
  }
  .m-6 {
    width: 50%;
  }
  .m-7 {
    width: 58.3333333333%;
  }
  .m-8 {
    width: 66.6666666667%;
  }
  .m-9 {
    width: 75%;
  }
  .m-10 {
    width: 83.3333333333%;
  }
  .m-11 {
    width: 91.6666666667%;
  }
  .m-12 {
    width: 100%;
  }
}
@media (max-width: 64em) {
  .l-1 {
    width: 8.3333333333%;
  }
  .l-2 {
    width: 16.6666666667%;
  }
  .l-3 {
    width: 25%;
  }
  .l-4 {
    width: 33.3333333333%;
  }
  .l-5 {
    width: 41.6666666667%;
  }
  .l-6 {
    width: 50%;
  }
  .l-7 {
    width: 58.3333333333%;
  }
  .l-8 {
    width: 66.6666666667%;
  }
  .l-9 {
    width: 75%;
  }
  .l-10 {
    width: 83.3333333333%;
  }
  .l-11 {
    width: 91.6666666667%;
  }
  .l-12 {
    width: 100%;
  }
}
/*  **************************************   MAIN MENU  ******************************************* */
#twitch {
  position: absolute;
  bottom: 1px;
  right: 1px;
  border: 1px solid white;
}

.main--container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1920px;
  z-index: 2;
  /*background: url("/2kceltics_0-6-9-041522/resources/video/film-grain-background.mp4");*/
  background-repeat: repeat-x repeat-y;
  border: 1px solid red;
  background-color: none;
  z-index: 1;
}

.ma--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Courier;
  font-size: 2.5vw;
  font-weight: bolder;
  background-color: #222;
  color: lightgreen;
}

.ma--title h1 {
  margin: 0;
  padding: 0;
  letter-spacing: 5px;
}

.ma--div__pstats {
  position: relative;
  width: 100%;
  height: 285px;
  margin-top: 5rem;
  border: 1px solid grey;
}

.img--pstats {
  /* position: absolute; */
  width: 100%;
  height: 100%;
}

.ma--grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% [3];
  grid-template-columns: repeat(3, 33%);
  -ms-grid-rows: 50% 50%;
  grid-template-rows: 50% 50%;
  margin-top: 3rem;
}

.ma--grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.ma--grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.ma--grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.ma--grid > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.ma--grid > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.ma--grid > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.ma--grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.ma--grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.ma--grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.ma--grid > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.ma--grid > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.ma--grid > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.ma--nextGame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin: 0.5rem 0 0 0.5rem;
  border: thin solid orange;
  color: springgreen;
}

.ma--nextGame__title > h3 {
  margin: 1rem 0;
  padding: 0;
  color: whitesmoke;
  font-size: 2.5em;
  letter-spacing: 3px;
}

.ma--nextGame__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  color: springgreen;
  font-size: 2em;
  /*border: 1px solid red;*/
}

.ma--nextGame__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 50%;
  padding: 1rem 0;
  letter-spacing: 2px;
  /*border: 1px solid blue;*/
}

.ma--nextGame__links > a {
  text-decoration: none;
  color: springgreen;
}

.ma--nextGame__links > a:hover {
  text-decoration: underline;
  color: whitesmoke;
}

.ma--schedule__col20 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ma--griditem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 70%;
}

.ma--gridplayoffs {
  /*
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width:150%;
    height: 150%;
    margin: 1rem 0 0 1rem;
  */
  height: 800;
  border: 1px solid red;
}

.ma--p__games {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 0.5rem 0;
  padding-left: 2vw;
  font-size: 1.5em;
  color: springgreen;
}

.played {
  background-color: rgba(0, 0, 0, 0.7);
  color: rgba(110, 110, 110, 0.267);
}

.schedule--logo {
  width: 25%;
}

.ma--section__news {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-top: 1rem;
  margin-left: 1rem;
  background: #222;
  color: white;
}

.ma--section__news > h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1rem auto 0 auto;
  font-size: 4vw;
  letter-spacing: 3px;
  color: rgb(50, 203, 126);
}

.ma--section__news > p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin: 1rem auto 0 auto;
  font-style: Verdana;
  font-size: 2.2vw;
  padding-left: 0.5rem;
}

.ma--figure {
  padding: 0.5rem;
  font-size: 1vw;
  font-weight: 400;
  text-align: center;
}

.ma--contador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  background-color: #333;
}

.ma--contador > span {
  text-align: center;
  color: #111;
  font-weight: 900;
  font-size: 2.3vw;
  letter-spacing: 3px;
}

.ma--record {
  color: white;
  font-weight: 900;
}

.fake--background {
  background-color: #333;
}

.trecord,
.standings {
  border: 2px solid orange;
  width: 96.5%;
  margin: 1rem 0 0 1rem;
}

.ma--pag {
  width: 1920px;
  margin: auto;
  padding: 0.5rem 0;
  text-align: center;
  background-color: #222;
}

.ma--pag__a {
  font-size: 1.3em;
  font-weight: 700;
  text-decoration: none;
  color: rgb(50, 203, 126);
}

.ma--pag a:hover {
  text-decoration: underline;
  color: royalblue;
}

/* ****************************** CARD p/ las lineups ***************************** */
.ma--container__lineup {
  margin: auto;
  max-width: 1920px;
  height: auto;
  background: url(../../../resources/svg/pattern-brick-wall.svg);
  background-color: whitesmoke;
}

.ma--container__lineup > h1 {
  padding-left: 1rem;
  font-size: 3.5em;
  color: rgb(143, 40, 188);
  letter-spacing: 8px;
}

.ma--flex__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  width: 100%;
  height: 350px;
  background-color: #000;
}

.group--card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  width: 19%;
  height: 300px;
  border: 3px solid orange;
  border-radius: 5%;
}

.group--card .item--card {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-radius: 5%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

.front {
  background-color: #eee;
  -webkit-transform: perspective(500px) rotateY(0deg);
  transform: perspective(500px) rotateY(0deg);
}

.front img {
  width: 100%;
}

.front article {
  width: 100%;
  height: 100%;
  font-size: 0.9em;
  font-family: Courier;
  font-weight: 500;
  letter-spacing: 1px;
  color: white;
  border-radius: 5%;
  background-color: #555;
}

.card--name {
  margin: 0;
  padding: 0.5rem 0 0.5rem 0.3rem;
  background-color: rgba(11, 100, 11, 0.932);
}

.back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #222;
  color: white;
  -webkit-transform: perspective(500px) rotateY(180deg);
  transform: perspective(500px) rotateY(180deg);
}

.back h1 {
  font-style: Courier;
  letter-spacing: 3px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.group--card:hover .front {
  -webkit-transform: perspective(500px) rotateY(180deg);
  transform: perspective(500px) rotateY(180deg);
}

.group--card:hover .back {
  -webkit-transform: perspective(500px) rotateY(360deg);
  transform: perspective(500px) rotateY(360deg);
}

.ma--articles-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 29% 1% 70%;
  grid-template-columns: 29% 70%;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  padding-top: 0.5rem;
  width: 100%;
  gap: 1%;
}

.ma--articles-grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.ma--articles-grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.aside--itemgrid {
  background: -webkit-gradient(linear, left top, left bottom, from(lightyellow), to(lightcyan));
  background: linear-gradient(lightyellow, lightcyan);
  border: 1px solid rgba(49, 57, 129, 0.25);
  border-bottom: none;
  border-top: none;
}

.articles--itemgrid {
  background-color: whitesmoke;
  border: 1px solid rgba(49, 57, 129, 0.25);
  border-bottom: none;
  border-top: none;
}

.art--note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 95%;
  margin-top: 1%;
  margin-left: 5%;
  height: 230px;
}

.art--cont {
  position: relative;
  -ms-flex-preferred-size: 33.84%;
  flex-basis: 33.84%;
  height: 200px;
  border-radius: 3%;
}

.art--cont__img {
  position: absolute;
  width: 90%;
  height: 90%;
  border-radius: 2%;
}

.art--text {
  margin-left: 0.5rem;
  -ms-flex-preferred-size: 65%;
  flex-basis: 65%;
  height: 200px;
}

.art--text a {
  text-decoration: none;
}

.art--week, .art--week__date {
  margin-top: 0.1rem;
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
  color: royalblue;
}

.art--week__date {
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.art--title {
  margin-top: 0;
  margin-left: 0.5rem;
  font-size: 2.2em;
  font-weight: 400;
  color: rgb(23, 87, 44);
}

.aside--lastart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.aside--lastart a {
  -ms-flex-item-align: start;
  align-self: flex-start;
  text-decoration: none;
}

.aside--title {
  color: rgb(23, 87, 44);
  letter-spacing: 3px;
  font-size: 2.3vw;
}

.aside--news {
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-size: 1.5vw;
  color: grey;
  padding: 0 0.5rem;
}

.aside--news:hover {
  color: rgb(23, 87, 44);
}

.more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0.5rem auto;
  padding: 0.5rem 1rem;
  border-radius: 10%;
  letter-spacing: 3px;
  font-weight: 900;
  background: rgb(50, 203, 126);
  color: white;
}

.more:hover {
  background-color: white;
  color: rgb(50, 203, 126);
}

/* ***************************   ARTICLES  ********************************* */
.ma--articles-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 29% 1% 70%;
  grid-template-columns: 29% 70%;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  padding-top: 0.5rem;
  width: 100%;
  gap: 1%;
}
.ma--articles-grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.ma--articles-grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.aside--itemgrid {
  background: -webkit-gradient(linear, left top, left bottom, from(lightyellow), to(lightcyan));
  background: linear-gradient(lightyellow, lightcyan);
  border: 1px solid rgba(49, 57, 129, 0.25);
  border-bottom: none;
  border-top: none;
}

.articles--itemgrid {
  background-color: whitesmoke;
  border: 1px solid rgba(49, 57, 129, 0.25);
  border-bottom: none;
  border-top: none;
}

.art--note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  margin-top: 1%;
  margin-left: 5%;
  height: 230px;
}

.art--cont {
  position: relative;
  -ms-flex-preferred-size: 33.84%;
      flex-basis: 33.84%;
  height: 200px;
  border-radius: 3%;
}

.art--cont__img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5%;
  -o-object-fit: fill;
     object-fit: fill;
}

.art--text {
  margin-left: 0.5rem;
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  height: 200px;
}

.art--text a {
  text-decoration: none;
}

.art--week, .art--week__date {
  margin-top: 0.1rem;
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
  color: royalblue;
}
.art--week__date {
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.art--title {
  margin-top: 0;
  margin-left: 0.5rem;
  font-size: 2.2em;
  font-weight: 400;
  color: rgb(23, 87, 44);
}

.aside--lastart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside--lastart a {
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-decoration: none;
}

.aside--title {
  color: rgb(23, 87, 44);
  letter-spacing: 3px;
  font-size: 2.3vw;
}

.aside--news {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 1.7vw;
  color: grey;
  padding: 0 0.5rem;
}

.aside--news:hover {
  color: rgb(23, 87, 44);
}

.more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.5rem auto;
  padding: 0.5rem 1rem;
  border-radius: 10%;
  letter-spacing: 3px;
  font-weight: 900;
  background: rgb(50, 203, 126);
  color: white;
}
.more:hover {
  background-color: white;
  color: rgb(50, 203, 126);
}

/* ***************************   ARTICLE  ********************************* */
.article--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 1rem;
}

.article--title {
  margin: 1rem 0 0.5rem 0;
  padding: 0 1rem;
  font-size: 3.5em;
  font-style: Courier;
  font-weight: 400;
  color: rgb(23, 87, 44);
}

.article--note {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  position: relative;
  width: 768px;
  height: 512px;
}

.art--cont__img-big {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1%;
  border: 1px solid rgba(128, 128, 128, 0.5);
}

.art--cont__video {
  position: relative;
  margin: auto;
  width: 50%;
  height: 266px;
  border: 1px solid 128 128 128, 0.5;
  border-radius: 2%;
}

.youtube {
  width: 100%;
  height: 100%;
  border-radius: 2%;
}

.article--buff {
  margin-top: 1rem;
  padding: 0 1rem;
  color: #222;
  font-style: italic;
  font-size: 1.5em;
  letter-spacing: 1px;
}

.modalFullgames {
  visibility: hidden;
  position: absolute;
  top: 30vw;
  left: 0;
  width: 100vw;
  height: 98vh;
  background-color: black;
  opacity: 0.8;
  z-index: 9;
  /*border: 1px solid red;*/
}

.modal--box {
  position: absolute;
  top: 18vh;
  left: 25vw;
  width: 45vw;
  height: 70vh;
  border: 1px solid black;
}

.modal--box__img {
  position: relative;
  width: 100%;
  height: 100%;
}

.modal--quit {
  position: absolute;
  top: 70vh;
  left: 0;
  width: 50%;
  height: 10%;
}

/*
.modal--quit__cross {
  width: 20%;
  margin-top: -10px;

}

/* ******************************************** MAIN MODAL ******************************************************* */
/*
.mainmodal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.9;
  z-index: 2;
  visibility: hidden;
  border: 1px solid red;
}
*/
#mainmodal {
  position: absolute;
  top: 400px;
  left: 0;
  width: 100vw;
  height: 1024px;
  background-color: rgba(0, 0, 0, 0.75);
  visibility: hidden;
}

#maincross {
  width: 40%;
  z-index: 2;
}

.main__modal--img {
  width: 90%;
  height: 500px;
  margin: 8rem auto;
  border: thin solid springgreen;
  z-index: 2;
}

.main__modal--imgsm {
  width: 98%;
  height: auto;
  margin: 0 auto;
  margin-top: 330px;
  border: 1px solid springgreen;
  z-index: 2;
}

.main__modal--imgmid {
  width: 60%;
  height: auto;
  margin: 2rem auto;
  border: 1px solid springgreen;
  z-index: 2;
}

.main__modal--imgbig {
  width: 40%;
  height: auto;
  margin: 4rem auto;
  z-index: 2;
  border: 1px solid springgreen;
}

.ma--panelgames {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 96vw;
  margin: 0.5rem auto;
  background-color: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  /*  border:1px solid yellow;*/
  z-index: 1;
}

.panel {
  font-size: 2rem;
  color: whitesmoke;
  text-align: center;
  z-index: 3;
}
.panel__previous {
  width: 28%;
}
.panel__current {
  width: 45%;
}
.panel__next {
  width: 25%;
  font-size: 1.5rem;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prev--iframe {
  width: 500px;
  height: 285px;
}

.panel__title {
  letter-spacing: 3px;
  font-style: normal;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  z-index: 1;
}

.panel__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  margin: auto auto;
  z-index: 1;
  /*   border:1px solid blue;*/
}

.panel__imgclub {
  width: 200px;
  /*  border:1px solid red;*/
}
.panel__imgclub-vs {
  width: 100px;
  height: 100px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.panel__imgclub-vs__mini {
  width: 75px;
}
.panel__imgclub__mini {
  width: 100px;
}

.panel__btn {
  background: none;
  border: 0;
  text-decoration: underline;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
}
.panel__btn:hover {
  color: #008348;
}

.panel__prev--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/**************************************************************************  GRID PANEL *************************************************************/
.ma-grid__panel {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 55% 40%;
      grid-template: 1fr/55% 40%;
  width: 95%;
  margin: auto auto;
  /*   border:1px solid blue;*/
  /*z-index: 1;*/
}

.slider {
  position: relative; /* el position por default es STATIC */
  width: 100%;
  margin: 3rem auto;
  margin-left: 3rem;
  text-align: center;
  /*  border: thin solid yellow;*/
  /*  z-index: 2;*/
}

.slider-slides {
  position: relative;
  height: 400px;
  margin: 0 auto;
}

.slider-slide {
  position: absolute; /* se posiciona respecto al 1er elem padre que encuentre en el DOM que sea RELATIVE sino hay toma al BODY como padre*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; /* igualmente los enlaces siguen siendo interactivos por mas qe no se vea */
  visibility: hidden; /* ahora los sliders ya no son interactivos */
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

.slider-slide.active {
  opacity: 1;
  visibility: visible;
}

.slider-slide img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover; /* contain: ajusta la proporcion de una imagen con respecto a su contenedor*/
  -o-object-position: 50% 50%;
     object-position: 50% 50%; /* coord(x), coord(y) va enfoca la imagen respecto al contenedor padre*/
}

.slider-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 100%;
  font-size: 3em;
  font-weight: bold;
  z-index: 2;
}

.slider a {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: thin solid #333;
  text-decoration: none;
  background-color: #aaa;
  color: #111;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.slider a:hover {
  color: #4d4d4d;
}

.panel--title {
  font-size: 3.5em;
  text-align: center;
  letter-spacing: 5px;
  color: springgreen;
}

.panel--card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.panel--card > section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-filter: sepia(80%);
          filter: sepia(80%);
  border: thin solid springgreen;
}
.panel--card > section:hover {
  -webkit-filter: none;
          filter: none;
  border: 1px solid #008348;
  -webkit-box-shadow: 5px 5px 5px #008348;
          box-shadow: 5px 5px 5px #008348;
  background-color: rgba(128, 128, 128, 0.2);
}
.panel--card__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 2em;
  color: white;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  /*  border: 1px solid blue;*/
}

.main__visitors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 2rem 2rem 0 0;
  padding: 0 10px;
  font-size: 1em;
  text-align: center;
  letter-spacing: 5px;
  color: springgreen;
  border: 1px solid white;
}

.he--modal__form {
  position: absolute;
  top: 28vw;
  left: 42vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 15vw;
  height: auto;
  margin-right: 0.5%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  border: 2px solid #008348;
  background-color: whitesmoke;
  color: #008348;
  z-index: 2;
}

.he--modal__newuser {
  position: absolute;
  top: 28vw;
  left: 38vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 25vw;
  height: auto;
  padding-left: 0.2rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  border: 2px solid #008348;
  background-color: whitesmoke;
  color: #008348;
  z-index: 2;
}

.he--modal__recover {
  position: absolute;
  top: 28vw;
  left: 42vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 15vw;
  height: 300px;
  border: 2px solid #008348;
  background-color: whitesmoke;
  color: #008348;
  z-index: 2;
}

.form--logo {
  width: 30%;
  margin-top: 1%;
  margin-left: 37%;
}

.form--btn {
  width: 35%;
  margin: 5% 0 4% 35%;
  border-radius: 2em;
  background-color: #008348;
  color: white;
  letter-spacing: 3px;
}
.form--btn:hover {
  background-color: rgb(50, 203, 126);
  color: whitesmoke;
}

.form--input {
  margin-top: 3%;
}
.form--input__text {
  color: #008348;
}

.form--span__error {
  color: orangered;
  font-size: 0.8rem;
}
.form--span__verified {
  color: green;
  font-size: 0.8rem;
}

.form--link {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 5%;
}
.form--link__a {
  margin: 5% 0 5% 0;
  color: black;
}
.form--link__a:hover {
  color: #008348;
}

.form--column__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 0.5rem;
  margin-left: 0.3rem;
  padding-right: 0.1rem;
}
.form--column__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 0.5rem;
}
.form--column__checkbox {
  font-size: 0.9rem;
}

.form--column__label > label {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

.form--column__label > input {
  width: 75%;
  margin: 0.5rem 0 1rem 10%;
  border-radius: 2em;
  letter-spacing: 3px;
  background-color: #008348;
  color: whitesmoke;
}
.form--column__label > input:hover {
  background-color: rgb(50, 203, 126);
}

.form--column__label > img {
  width: 12%;
  margin-top: 1rem;
}

.form--column__input > input {
  margin-bottom: 0.25rem;
}

.form--recover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form--recover > label {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.2em;
}

.form--recover__input {
  width: 80%;
  margin: 0.3rem auto;
}

.form--recover__submit {
  width: 30%;
  margin: 1rem auto 0.5rem auto;
  letter-spacing: 3px;
  border-radius: 2em;
  background-color: #008348;
  color: whitesmoke;
}
.form--recover__submit:hover {
  background-color: springgreen;
  color: whitesmoke;
}

.form--recover > img {
  margin-left: 0.5rem;
  margin-bottom: 1rem;
  width: 12%;
}

/* ******************************************************************  CREAR COMPONENTE NUEVO **********************************************************  */
.he--modal__profile {
  position: absolute;
  top: 8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 25vw;
  height: auto;
  background-color: #008348;
  color: whitesmoke;
  border: 2px solid whitesmoke;
  z-index: 2;
}

.profile--img {
  width: 12%;
  margin: 0.3rem 0.3rem 0.3rem 0.3rem;
  border: 1px solid whitesmoke;
  border-radius: 100%;
}

/* *************************************************************************  SUBSCRIBE ************************************************************************************ */
.ma--container__subs {
  max-width: 1920px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subs--backgroundvideo {
  width: 100vw;
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.subs--form {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border: solid rgba(209, 185, 50, 0.25);
  border-radius: 2%;
  color: lightyellow;
  background-color: #222;
  opacity: 0.7;
  z-index: 2;
}

.form--column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 1.5rem 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 1vw;
}

.form--input__subscribe {
  margin-bottom: 2.3rem;
}

.input--attr {
  background-color: #444;
  color: whitesmoke;
}

.form--submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0.5rem;
}

.form--btn__subscribe {
  padding: 0.5rem 0.35rem;
  font-size: 1.3vw;
  letter-spacing: 2px;
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 3rem;
}
.form--btn__subscribe:hover {
  padding: 0.5rem 0.9rem;
  background-color: whitesmoke;
  color: #333;
  border: 2px solid black;
}

.form--response__accepted {
  color: springgreen;
}

.form--response__error {
  color: red;
}

.form--response__msj {
  margin-bottom: 0.5rem;
}

.api--twitch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: flex-end;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: auto;
  z-index: 5;
  border: 1px solid white;
}

/* ************************************  HEADER BOTONERA  ************************************************** */
.he--mainmenu {
  width: 100%;
  height: 60px;
}

.he--nav__botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  font-size: 1.4vw;
  background: -webkit-gradient(linear, left top, left bottom, from(lightyellow), to(lightblue));
  background: linear-gradient(lightyellow, lightblue);
}

.he--nav__btn {
  width: 20%;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  font-family: Courier;
  font-weight: 900;
  letter-spacing: 3px;
  color: grey;
  border: 1px solid orange;
}

.he--nav__btn:hover {
  font-size: 1.2em;
  color: black;
  border: 2px solid green;
  background: -webkit-gradient(linear, left top, left bottom, from(lightgreen), to(lightcyan));
  background: linear-gradient(lightgreen, lightcyan);
}

.store-soon {
  width: 20%;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  font-family: Courier;
  font-weight: 900;
  letter-spacing: 3px;
  background-color: #444;
  color: #111;
}

.store-soon:hover {
  background-color: #222;
}

/* ************************************************          MODAL       ************************************************************ */
.modal {
  visibility: hidden;
  position: absolute;
  top: 49vw;
  left: 0;
  width: 100vw;
  height: 98vh;
  background-color: black;
  opacity: 0.9;
}

.modal--box {
  position: absolute;
  top: 18vh;
  left: 25vw;
  width: 45vw;
  height: 70vh;
  border: 1px solid black;
}

.modal--box__img {
  position: relative;
  width: 100%;
  height: 100%;
}

.modal--quit {
  position: absolute;
  top: 50vh;
  left: 0;
  width: 50%;
  height: 10%;
}

.modal--quit__cross {
  position: absolute;
  top: 30vh;
  left: 93vw;
  width: 6%;
}

@media screen and (min-width: 87.5em) {
  header,
  main,
  footer {
    background: #333;
  }
  .hero-image {
    margin: auto;
  }
  .modal {
    visibility: hidden;
    position: absolute;
    top: 38.5vw;
    left: 0;
    width: 100vw;
    height: 101vh;
    background-color: black;
    opacity: 0.9;
  }
  .modal--box {
    position: absolute;
    top: 18vh;
    left: 25vw;
    width: 45vw;
    height: 70vh;
    border: 1px solid black;
  }
}
.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.none {
  display: none;
}

.hidden {
  visibility: hidden;
  /* transition: transform 5s ease-out;
   transform: translate(-100%,0);*/
}

.visible {
  visibility: visible;
  -webkit-transition: -webkit-transform 2s ease-in;
  transition: -webkit-transform 2s ease-in;
  transition: transform 2s ease-in;
  transition: transform 2s ease-in, -webkit-transform 2s ease-in;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  /* como quiero que se mueva el panel */
}

.none {
  display: none;
}

.maxwidth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: auto;
  max-width: 1920px;
  height: auto;
}

.container {
  margin: auto;
  max-width: 1920px;
}

/* conversion PX a EMs: 
320px / 16px = 20em, 
480px / 16px = 30em,  
600px / 16px = 37.5 em, 
768px / 16px = 48em, 
1024px / 16px = 64em,
1200px / 16px = 75em,  
1366px / 16px = 85,4em 
 */
.slider {
  position: relative; /* el position por default es STATIC */
  width: 99%;
  margin: 1rem auto;
  text-align: center;
  border: thin solid #222;
}

.slider-slides {
  position: relative;
  height: 400px;
}

.slider-slide {
  position: absolute; /* se posiciona respecto al 1er elem padre que encuentre en el DOM que sea RELATIVE sino hay toma al BODY como padre*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; /* igualmente los enlaces siguen siendo interactivos por mas qe no se vea */
  visibility: hidden; /* ahora los sliders ya no son interactivos */
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.slider-slide.active {
  opacity: 1;
  visibility: visible;
}

.slider-slide img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover; /* contain: ajusta la proporcion de una imagen con respecto a su contenedor*/
  -o-object-position: 50% 50%;
     object-position: 50% 50%; /* coord(x), coord(y) va enfoca la imagen respecto al contenedor padre*/
}

.slider-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 100%;
  font-size: 3em;
  font-weight: bold;
}

.slider a {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: thin solid #333;
  text-decoration: none;
  background-color: #aaa;
  color: #111;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.slider a:hover {
  color: #4d4d4d;
}

@media screen and (min-width: 48em) {
  /****************************************************************/
  .hero-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #333;
  }
}
@media screen and (min-width: 87.5em) {
  header,
  main,
  footer {
    background: #333;
  }
  .hero-image {
    margin: auto;
  }
  .modal {
    visibility: hidden;
    position: absolute;
    top: 38.5vw;
    left: 0;
    width: 100vw;
    height: 101vh;
    background-color: black;
    opacity: 0.9;
  }
  .modal--box {
    position: absolute;
    top: 18vh;
    left: 25vw;
    width: 45vw;
    height: 70vh;
    border: 1px solid black;
  }
}
.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.none {
  display: none;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.none {
  display: none;
}

.maxwidth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: auto;
  max-width: 1920px;
  height: auto;
}

.container {
  margin: auto;
  max-width: 1920px;
}

/* conversion PX a EMs: 
320px / 16px = 20em, 
480px / 16px = 30em,  
600px / 16px = 37.5 em, 
768px / 16px = 48em, 
1024px / 16px = 64em,
1200px / 16px = 75em,  
1366px / 16px = 85,4em 
 */